_*_*_temp.*
safari/dist/UnFuckGoogle.safariextz
chrome/build/UnFuckGoogle.crx
chrome/build/UnFuckGoogle.pem
# Ignore build products and copies of the CSS...
UnFuckGoogle.css
UnFuckGoogle.js
UnFuckGoogleSetup.js
# ...but don't ignore the master CSS file at repo root
!/UnFuckGoogle.css