/* UnFuckGoogle Safari/Chrome Extension v1.1 by JK Laiho (jklaiho@iki.fi) */
div#gb > div {
    background-color: transparent !important;
}

#gbz .gbzt, #gbz .gbgt, #gbg .gbgt {
    color: black !important;
}

.gbts {
    color: black !important;
}

.gbzt-hvr, .gbzt:focus, .gbgt-hvr, .gbgt:focus {
    background-color: #E5E5E5 !important;
}

.gbts #gbi5 {
    background-position-x: -6px !important;
    background-position-y: -22px !important;
}

.so.soi {
    display: none !important;
}

.esw.eswd {
    display: none !important;
}

.vspib {
    display: none !important;
}