/* UnFuckGoogle Safari/Chrome Extension by JK Laiho (jklaiho@iki.fi) */
div#gbx3 {
    background-color: white !important;
}

#gbz .gbzt, #gbz .gbgt {
    color: black !important;
}

.gbts {
    color: black !important;
}

.gbzt-hvr, .gbzt:focus, .gbgt-hvr, .gbgt:focus {
    background-color: #E5E5E5 !important;
}

.vspib {
    display: none !important;
}

.vshid {
    display:inline !important;
}

.vshid:before {
    content: " - ";
}

.vshid a {
    color: #12C !important;
    text-decoration: none !important;
}

#cnt #center_col, #cnt #foot, #cnt .ab_center_col {
    width: auto !important;
}

.s {
    max-width: 48em !important;
}